.container
    margin: 0 auto
    //padding: 12.866667rem 2.6667rem 5.3333rem 2.6667rem
    max-width: 1182px      

.alerts__wrapper
    position: absolute
    top: 100px
    left: 20px

.title
    font-size: 35px
    text-align: center
    font-weight: 500
    color: white

.spinner
    display: block
    margin: 250px auto 0

@import 'blocks/pagination'
@import 'blocks/navbar'
@import 'blocks/modal'
@import 'blocks/sign-in'
@import 'blocks/table'
            





