*
	padding: 0
	margin: 0
	box-sizing: border-box

html, body 
	height: 100%
	font-size: 17px
	font-family: 'Montserrat', sans-serif
	@media (max-width: 498px)
		font-size: 14px
	

.container
	margin: 0 auto
	max-width: 1182px      

.alerts__wrapper
	position: fixed
	top: 100px
	left: 20px

.title
	font-size: 35px
	text-align: center
	font-weight: 500
	color: white

.spinner
	display: block
	margin: 250px auto 0

.fixed-block
	position: fixed
	background-color: white
	width: 63.5%
	z-index: 100000
	//width: 100%
	max-width: inherit
	@media (max-width: 1473px)
		width: 78.5%
	@media (max-width: 1440px)
		width: 80.5%
	@media (max-width: 1024px)
		width: 97.5%
	@media (max-width: 846px)
		width: 97%
	@media (max-width: 570px)
		width: 96%
	@media (max-width: 425px)
		width: 94%

.panel
	margin-top: 90px 
	display: flex
	align-items: center
	justify-content: space-between
	@media (max-width: 425px)
		flex-direction: column
		height: 83px

@import 'blocks/pagination'
@import 'blocks/navbar'
@import 'blocks/modal'
@import 'blocks/sign-in'
@import 'blocks/table'
			





