.scroll-table-body 
	//height: 850px
	overflow-x: auto
	//margin-top: 0px
	padding-top: 199px
	margin-bottom: 20px
	border-bottom: 1px solid #eee

.scroll-table table 
	margin: 0

.table__last-column
	display: flex
	justify-content: space-evenly
	width: 155px

.scroll-table thead th 
	border: none
	background: #95bfff

th, td
	width: 20%
	white-space: nowrap
	&:first-child
		width: 5%
	&:last-child
		text-align: center
		width: 13%
	&:nth-child(4)
		width: 34%
		
.table__empty
	text-align: center
	padding-top: 220px
		
.ag-theme-alpine
	--ag-foreground-color: #575757
	--ag-background-color: #f0f6fc
	--ag-header-foreground-color: #fff
	--ag-header-background-color: #76ADFF
	--ag-odd-row-background-color: rgba(34, 29, 29, 0.02)
	--ag-header-column-resize-handle-color: rgb(126, 46, 132)

	--ag-font-size: 17px
	--ag-font-family: 'Montserrat', sans-serif

	--ag-grid-size: 10px
	--ag-list-item-height: 30px

.circle
	width: 40px
	height: 40px
	display: flex
	align-items: center
	justify-content: center
	border-radius: 50%
	margin-top: 15px
	cursor: pointer
	&__delete
		background-color: white
		&:hover
			background-color: #F1525A
			transition: 0.5s
	&__update
		background-color: white
		&:hover
			background-color: #FFCB00
			transition: 0.5s
		
.change_color
	width: 180%
	padding: 5px
	filter: invert(0%) sepia(99%) saturate(7500%) hue-rotate(19deg) brightness(96%) contrast(102%)
	&:hover
		filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%)


